@import url('https://fonts.googleapis.com/css2?family=Almendra&family=Montserrat&family=Norican&display=swap');

body {
    background-color: black;
    color: white;
    /* font-family: Norican;
    font-weight: lighter; */
}

.top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-navbar-left {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}

.top-navbar-left img {
    filter: invert();
    width: 80%;
}

.top-navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80px;
}

.post-header {
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
}

.post-header-left {
    display: flex;
    /* border: 1px solid red; */
    /* justify-content: space-between; */
    align-items: center;
}

.post-header-left img {
    border-radius: 50%;
    border: 2px solid;
    /* border-color: grey; */
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    /* margin: 0 4px; */
}

.post-header-left p {
    font-size: small;
    /* border: 1px solid purple; */
    margin-left: 7px;
}

.post-header-right {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.post-container .images {
    width: 100%;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-footer-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    max-width: 200px;
}

.post-footer-right {
    display: flex;
    align-items: center;
}

.post-detail p {
    margin: auto;
}

